sudo: required
language: python
python:
- '3.6'
services:
- docker
before_install:
- docker-compose up --build -d
script:
- docker-compose run web python manage.py
- docker-compose run web py.test
after_script:
- docker-compose down
deploy:
  provider: heroku
  api_key:
    secure: S85CqZy+EnL1oj6Lt5vNPB2L/aGsxvlpReumRlV9P/n+LL3S3vhwRqCHPDnWXhdFrooCNzxF8EQM2s3B3josZ4pJ7lksB6IE7I04r5ZL2ZebKzZgsz8l9Q/6qRyDlZoR8ugsE4ndTuBwYfbBiTKC8mcYjajmd3a21qClj2KaBXoMHxA3Keo28AmWyfjOjJPVkSMvdavzyYcnHMryAHlk6nAB6Nvk3vF2XbOborN1hrAmyEDQOmjcxYNosUOKVFBWJij2E0O6yoHjSMzucTplPwYWXDzOp98cVYTbeYPMu4Qvykv/EHUnnuDHOTO0+JOhEtFy+Z5+XbPIoWlbO4y9LSadDKufRvJ6DzG2GJ0prTg0Oguo02404upOsY0nzoBZ9ZTeUtQoQXE9uukAB3JMB5bgx54GkC9BwFnhPpHdt+pZuPd16a/5g5mWDJ+ESTVjTOJmKMVkWA327179w+OTzdORyu9kamn1W0kY1GwMA2H7NZS4YpOHqfbYYcpgs0+/EFKHK6MNZb9gK9/P3m+cbRU1Wfh6Qd9Y36h1coIxpH6WGW16TTmdm7I6ECDR8PYDLFHgTC6v4rjg72kX/6hDZYpSuHLTBz8rMFO8vkUAn1jFea1gPn8XqV3AkTY6lyRLnaIpadiywckn4XWpeGxfL+71Y+FUu8bCOmytoLv8kpw=
  app:
    deploy_continous: DrogariaIdeal
  run:
  - python manage.py makemigrations
  - python manage.py migrate
